
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// sass
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Admin lte
@import '~admin-lte/dist/css/adminlte.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(41, 40, 40, 0.04);
}
.router-link-exact-active{
  background-color: #6C63FF;
  color: white;
}
.login-img{
  width: 500px;
}
.btn-gefe-login{
  color: white;
  background-color: #6C63FF;
}
.card-gefe{
  background-color: #6C63FF;
  border-bottom: 0;
}
.card-gefe .card-outline {
  border-top: 3px solid #6C63FF;
}
.container-mt10{
  margin-top: 100px;
}